# This workflow will run the Chef agent periodically and dump a proposed menu plan for the week.

name: Chef Workflow

on:
  # Manual workflow
  workflow_dispatch:

# Permissions for the workflow
permissions:
  contents: write  # To create branches and commit changes
  pull-requests: write  # To create pull requests

# Workflow jobs
jobs:
  # Prepare the menu plan
  cooking:
    # Run on GH hosted Ubuntu runner
    runs-on: ubuntu-latest

    # Environment variables
    env:
      COPILOT_GITHUB_TOKEN: ${{ secrets.COPILOT_GITHUB_TOKEN }}  # GitHub Copilot token
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # GitHub token for GH CLI commands
      COPILOT_MODEL: gpt-4.1
      GIT_AUTHOR_NAME: ${{ github.actor }}
      GIT_AUTHOR_EMAIL: "${{ github.actor }}@users.noreply.github.com"

    # Steps of the job
    steps:
    
    # Checkout the repository
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

    # Setup Node.js environment for GH Copilot CLI installation in next steps
    - name: Setup Node.js
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f  # v6.1.0
      with:
        node-version: '>=22'

    # Install GH Copilot CLI
    - name: Install GitHub Copilot CLI
      run: npm i -g @github/copilot

    # Create feature branch
    - name: Create feature branch
      shell: bash
      run: |
        copilot --model=${{ env.COPILOT_MODEL }} --allow-all-tools --prompt "Create a new feature branch with the syntax 'feature/menu-plan-YYYYMMDD-TS' where YYYYMMDD is today's date in year month day format and TS is the current timestamp in milliseconds." >> branch-creation-output.txt
        if grep -q "I was unable to create the new branch" branch-creation-output.txt; then
          echo "Failed to create branch."
          exit 1
        fi
        rm -f branch-creation-output.txt

    # Get weekly menu plan
    - name: Get weekly menu plan
      shell: bash
      run: |
        git status
        copilot --model=${{ env.COPILOT_MODEL }} --agent=chef --allow-all-tools --prompt "Provide a new menu plan, please" >> $GITHUB_STEP_SUMMARY
        
    - name: Create Pull Request
      shell: bash
      run: |
        copilot --model=${{ env.COPILOT_MODEL }} --allow-all-tools --prompt "Create a pull request for the recently created branch with the menu plan changes. Use 'Weekly Menu Plan YYYYMMDD' as the title, where YYYYMMDD is today's date in year month day format and 'This PR contains the proposed menu plan for the week.' as the description. Try to create the pull request in any case or stated clearly in case of any troubles."
