# This workflow will run the Chef agent periodically and dump a proposed menu plan for the week.

name: Chef Workflow

on:
  # Manual workflow
  workflow_dispatch:

# Permissions for the workflow
permissions:
  contents: write  # To create branches and commit changes

# Workflow jobs
jobs:
  # Prepare the menu plan
  cooking:
    # Run on GH hosted Ubuntu runner
    runs-on: ubuntu-latest

    # Environment variables
    env:
      COPILOT_GITHUB_TOKEN: ${{ secrets.COPILOT_GITHUB_TOKEN }}

    # Steps of the job
    steps:
    
    # Checkout the repository
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

    # Setup Node.js environment for GH Copilot CLI installation in next steps
    - name: Setup Node.js
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f  # v6.1.0
      with:
        node-version: '>=22'

    # Install GH Copilot CLI
    - name: Install GitHub Copilot CLI
      run: npm i -g @github/copilot

    # Create feature branch
    - name: Run GitHub Copilot CLI - Create feature branch
      run: copilot --model=gpt-4.1 --allow-tool "shell(git)" --prompt "Create a new feature branch with the syntax 'feature/menu-plan-YYYYMMDD-TS' where YYYYMMDD is today's date in year month day format and TS is the current timestamp in milliseconds."

    # Run GH Copilot CLI - Get weekly menu plan
    # - name: Run GitHub Copilot CLI
    #   run: copilot --model=gpt-4.1 --agent=chef --prompt "Menu for this week, please"
